﻿/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
/* @import 'nativescript-theme-core/css/core.light.css'; */

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/

.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20; 
}
.sub-title {
    font-size: 20;
}

.highlight .tile-title {        
    font-weight: bold;          
    background-color: #6699ff;  
}

.highlight .tile-title Label {
    font-size: 18;
}
.tile-title Label {
    font-size: 14;
    color: black;
    margin-top: 5;
}

.tile-title {
    background-color: #99ccff; 
 }

 .highlight .price {             
    font-weight: bold;          
    color: red;                 
}

.price {
    color: #009933; 
    text-align: right;
}

.highlight Image {
    width: 100;
    height: 100;
}

Image {
    width: 80;
    height: 80;
}

 Page {
    background-color: #EFEFEF;
}

.tile {
    background-color: #FFFFFF;
    margin: 2;
}

/* used to format text on pages */
/** Is there no equivalent to html paragraph??  **/
Label {
    margin-left: 10;
    margin-right: 10;
    margin-bottom: 10;
}

button {
    font-size: 32;
    horizontal-align: center;
}



